.hero-wrapper {
  color: white;
  position: relative;
  padding-bottom: 2rem;
  /* background-color: var(--black); */
}

.hero-container {
  justify-content: space-between;
  align-items: flex-end;
}
/* Left Side */
.hero-left {
  gap: 3rem;
}
.hero-title {
  position: relative;
  z-index: 1;
}

.hero-title > h1 {
  font-weight: 600;
  font-size: 3.8rem;
  line-height: 4rem;
}
.hero-title .orange-circle {
  height: 4rem;
  width: 4rem;
  background-color: var(--orange-gradien);
  border-radius: 999px;
  position: absolute;
  right: 38%;
  top: -10%;
  z-index: -1;
}
.circle-title {
  background: linear-gradient(270deg, #ffb978 0%, #ff922d 100%);
  width: 4rem;
  height: 4rem;
  border-radius: 999px;
  position: absolute;
  right: 32%;
  top: -10%;
  z-index: -1;
}

.search-bar {
  background-color: white;
  border-radius: 5px;
  border: 3px solid rgba(120, 120, 120, 0.374);
  padding: 0.5rem 1rem;
  justify-content: space-between;
  width: 100%;
}
.search-bar > input {
  border: none;
  outline: none;
}

.stats {
  width: 100%;
  justify-content: space-between;
}
.stat > :nth-child(1) {
  font-size: 2rem;
}
.stat > :nth-child(1) > :last-child {
  color: orange;
}
.search-bar > input {
  border: none;
  outline: none;
}
/* Right Side */

.image-container {
  width: 30rem;
  height: 35rem;
  overflow: hidden;
  border-radius: 15rem 15rem 0 0;
  border: 8px solid rgba(255, 255, 255, 0.12);
}

.image-container > img {
  width: 100%;
  height: 100%;
}

@media (max-width: 640px) {
  .hero-container {
    margin-top: 2rem;
  }

  .hero-title > h1 {
    line-height: 3rem;
    font-size: 2.5rem;
  }
}
